*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


body{

background:#020617;
color:white;

}


header{

position:fixed;
width:100%;
background:#020617;
padding:20px 8%;
z-index:100;

}



nav{

display:flex;
justify-content:space-between;
align-items:center;

}



nav h2{

color:#38bdf8;

}



nav ul{

display:flex;
list-style:none;
gap:25px;

}



nav a{

color:white;
text-decoration:none;

}




.hero{

min-height:100vh;
display:flex;
align-items:center;
justify-content:space-around;
padding:100px 10%;

}



.hero-text{

width:50%;

}



.hero h1{

font-size:45px;

}



.hero span{

color:#38bdf8;

}



.hero h2{

margin:20px 0;
color:#94a3b8;

}



.hero p{

line-height:1.8;

}



button{

margin-top:25px;
padding:12px 30px;
border:none;
border-radius:30px;
background:#38bdf8;
cursor:pointer;
font-size:16px;

}



.circle{

width:250px;
height:250px;
border-radius:50%;
background:linear-gradient(135deg,#38bdf8,#6366f1);
display:flex;
justify-content:center;
align-items:center;
font-size:70px;
font-weight:bold;

}



section{

padding:80px 10%;

}



.title{

text-align:center;
font-size:35px;
color:#38bdf8;
margin-bottom:40px;

}



.about-text{

text-align:center;
line-height:1.8;

}



.container{

display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;

}



.experience-container{

display:flex;
justify-content:center;
align-items:center;

}



.card{

background:#111827;
padding:25px;
border-radius:20px;
width:280px;
text-align:center;
box-shadow:0 0 20px #000;

}



.experience-card{

width:420px;

}



.card h3{

color:#38bdf8;
margin-bottom:15px;

}



.card p{

color:#cbd5e1;
margin:10px;

}



.contact-card{

margin:auto;

}



footer{

text-align:center;
padding:20px;
background:#111827;

}